{% extends 'base.html' %}
{% block content %}

    <h1>Компьютер {{computer.name}}</h1>
    <div>Имя компьютера: {{computer.name}}</div>
    <div>Инвентарный номер: {{computer.inventory_number}}</div>
    <div>Разрядность: {{computer.arch}}</div>
    <div>Статус компьютера: {{computer.status}}</div>
    <div>Материнская плата: <a href="/motherboards/{{computer.motherboard.id}}/edit_motherboard/">{{computer.motherboard.name}}</a></div>
    <div>Процессор: <a href="/cpus/{{computer.cpu.id}}/edit_cpu/">{{computer.cpu.name}}</a></div>
    <div>Аудитория: <a href="/audience/{{computer.audience.id}}">{{computer.audience.name}}</a></div>
    <h1>Накопители памяти</h1>
    <h6>{{total_storage_memory}} ГБ</h6>
    {% for storage in storages %}
        <div><b>Накопитель памяти: </b><a href="/storages/{{storage.id}}/edit_storage/" class="text-decoration-none">{{storage.name}}</a></div>
    {% endfor %}
    <h1>Разделы накопителей памяти</h1>
    {% for drive in drives %}
        <div><b>Имя раздела: </b>{{ drive.letter }}</div>
        <div><b>Всего памяти: </b>{{ drive.total_memory }} МБ</div>
        <div><b>Свободно памяти: </b>{{ drive.free_memory }} МБ</div>
    {% endfor %}
    <h1>Оперативная память</h1>
    <h6>{{ram_memory}} ГБ</h6>
    {% for ram in rams %}
        <div><b>Оперативная память: </b><a href="/rams/{{ram.id}}/edit_ram/" class="text-decoration-none">{{ram.name}} {{ram.memory}}</a></div>
    {% endfor %}
    <h1>Мониторы</h1>
    {% for monitor in monitors %}
        <div><b>Монитор: </b><a href="/monitors/{{monitor.id}}/edit_monitor/" class="text-decoration-none">{{monitor.name}}</a></div>
    {% endfor %}
    <h1>Программное обеспечение</h1>
    {% for software in softwares %}
        <div>Название: {{software.software}}</div>
        <div>Версия: {{software.version}}</div>
        <div>Издатель: {{software.software.vendor}}</div>
        <div>Расположение: {{software.folder}}</div>
        <div>Дата установки/обновления: {{software.install_date}}</div>
        <br>
    {% endfor %}
    <!--<div><a href="">ПО</a></div>-->


{% endblock %}