<div class="row mt-4" id="motherboards-list">
    {% for motherboard in motherboards %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ motherboard.name }}</h5>
                <p class="card-text"><b>Модель:</b> {{ motherboard.model }}</p>
                <p class="card-text"><b>Производитель:</b> {{ motherboard.model.vendor }}</p>
                <!-- Добавьте другие характеристики материнской платы -->
                <a href="/motherboards/{{ motherboard.id }}/edit_motherboard/" class="btn btn-primary">Редактировать</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
