{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'StockTaking/lib/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: none;
        }
        .btn-primary{
            background-color: #007bff;
            border: none;
            color: white;
        }
        .form-label {
            font-weight: 600;
        }
        .fa-eye, .fa-eye-slash {
            cursor: pointer;
        }
        select:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0 text-center">Регистрация</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div>{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                <div class="mb-3">
                                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                                    {% if 'password' in f.id_for_label %}
                                        <div class="input-group">
                                            {{ f }}
                                            <span class="input-group-text">
                                                <i class="fas fa-eye" id="toggleIcon"></i>
                                            </span>
                                        </div>
                                    {% elif 'inventory_numbers' in f.id_for_label %}
                                        {{ f }}
                                    {% else %}
                                        {{ f }}
                                    {% endif %}
                                </div>
                                <div>{{ f.errors }}</div>
                            {% endfor %}
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <button type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение JavaScript для Bootstrap и дополнительного функционала -->
    <script src="{% static 'StockTaking/lib/js/bootstrap.bundle.min.js' %}"></script>
    <script>
        const togglePassword = document.querySelector('#toggleIcon');
        const password = document.querySelector('#id_password1');

        togglePassword.addEventListener('click', function (e) {
            console.log('a');
            // переключение типа input
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // переключение иконки
            togglePassword.classList.toggle('fa-eye-slash');
            togglePassword.classList.toggle('fa-eye');
        });
    </script>
</body>
</html>