{% extends 'base.html' %}
{% block content %}

<h1>Типы оперативной памяти</h1>

<div class="container mt-5">
    <h1>Список типов оперативной памяти</h1>

    <!-- Форма для выбора производителя и модели -->
    <form>
        <div class="mb-3">
            <label for="manufacturer" class="form-label">Выберите производителя:</label>
            <select class="form-select" id="manufacturer" name="manufacturer">
                <option value="">Все производители</option>
                <option value="asus">ASUS</option>
                <option value="msi">MSI</option>
                <!-- Добавьте другие производители по мере необходимости -->
            </select>
        </div>

        <div class="mb-3">
            <label for="model" class="form-label">Выберите модель:</label>
            <select class="form-select" id="model" name="model">
                <option value="">Все модели</option>
                <!-- Здесь вы можете добавить модели для каждого производителя -->
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Применить фильтр</button>
        <a href="/ram_types/add_ram_type/" type="submit" class="btn btn-success">Создать</a>
    </form>

    <!-- Карточки материнских плат -->
    <div class="row mt-4">
        <!-- Пример карточки -->
        {% for ram_type in ram_types %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ ram_type.ram_type_name }}</h5>
                    <!-- Добавьте другие характеристики материнской платы -->
                    <a href="/ram_types/{{ ram_type.id }}/edit_ram_type/" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Продолжайте добавлять карточки по мере необходимости -->
    </div>
</div>


    <!-- <div class="card">
        <p><b>Материнская плата:</b> {{ motherboard.motherboard_name }}</p>
        <p><b>Модель:</b> {{ motherboard.motherboardModel }}</p>
        <p><b>Производитель:</b> {{ motherboard.motherboardModel.motherboardVendor }}</p>
        <button class="btn btn-primary">Редактировать</button>
    </div> -->


{% endblock %}